<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/write.css">
</head>
<body>
<div th:replace="header.html::header"></div>

<form id="evaluationform">

    <div class="company">

        <div class="cpctw">

            <div class="inner">

                <div class="ctbox">

                    <section id="company_channel_id" class="review review_wrt">

                        <h1 class="sctit">기업 리뷰 작성</h1> <!--헤더-->

                        <div class="review_wp review_top"> <!--회사명-->

                            <div class="info">

                                <div class="area">
                                    <h3 class="opt_tit">회사명</h3>

                                    <div class="form_wrap">

                                        <div class="fieldset">

                                            <input th:value="${data}" name="firm">

                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div> <!--회사명 -->

                        <div class="review_wp"> <!--회사평가-->

                            <h2 class="rvtit">회사 평가하기</h2>

                            <div id="star" class="rating_all">

                                <div class="rating_wp">

                                    <div class="tit">총점</div>

                                    <div class="star-rating" id="total">
                                        <input type="radio" id="5-stars-total" name="gtotal" value="5" />
                                        <label for="5-stars-total" class="star">&#9733;</label>
                                        <input type="radio" id="4-stars-total" name="gtotal" value="4" />
                                        <label for="4-stars-total" class="star">&#9733;</label>
                                        <input type="radio" id="3-stars-total" name="gtotal" value="3" />
                                        <label for="3-stars-total" class="star">&#9733;</label>
                                        <input type="radio" id="2-stars-total" name="gtotal" value="2" />
                                        <label for="2-stars-total" class="star">&#9733;</label>
                                        <input type="radio" id="1-star-total" name="gtotal" value="1" />
                                        <label for="1-star-total" class="star">&#9733;</label>
                                    </div>

                                </div>
                            </div>

                            <div class="rating_dtl" style="margin-left: 40px">

                                <div class="rating_wp">

                                    <div class="tit">커리어 향상</div>
                                    <div class="star-rating" id="career">
                                        <input type="radio" id="5-stars-career" name="gcareer" value="5" />
                                        <label for="5-stars-career" class="star">&#9733;</label>
                                        <input type="radio" id="4-stars-career" name="gcareer" value="4" />
                                        <label for="4-stars-career" class="star">&#9733;</label>
                                        <input type="radio" id="3-stars-career" name="gcareer" value="3" />
                                        <label for="3-stars-career" class="star">&#9733;</label>
                                        <input type="radio" id="2-stars-career" name="gcareer" value="2" />
                                        <label for="2-stars-career" class="star">&#9733;</label>
                                        <input type="radio" id="1-star-career" name="gcareer" value="1" />
                                        <label for="1-star-career" class="star">&#9733;</label>
                                    </div>

                                </div>

                                <div class="rating_wp">

                                    <div class="tit">업무와 삶의 균형</div>
                                    <div class="star-rating" id="balance">
                                        <input type="radio" id="5-stars-balance" name="gbalance" value="5" />
                                        <label for="5-stars-balance" class="star">&#9733;</label>
                                        <input type="radio" id="4-stars-balance" name="gbalance" value="4" />
                                        <label for="4-stars-balance" class="star">&#9733;</label>
                                        <input type="radio" id="3-stars-balance" name="gbalance" value="3" />
                                        <label for="3-stars-balance" class="star">&#9733;</label>
                                        <input type="radio" id="2-stars-balance" name="gbalance" value="2" />
                                        <label for="2-stars-balance" class="star">&#9733;</label>
                                        <input type="radio" id="1-star-balance" name="gbalance" value="1" />
                                        <label for="1-star-balance" class="star">&#9733;</label>
                                    </div>

                                </div>

                                <div class="rating_wp">

                                    <div class="tit">급여 및 복지</div>
                                    <div class="star-rating" id="salary">
                                        <input type="radio" id="5-stars-salary" name="gsalary" value="5" />
                                        <label for="5-stars-salary" class="star">&#9733;</label>
                                        <input type="radio" id="4-stars-salary" name="gsalary" value="4" />
                                        <label for="4-stars-salary" class="star">&#9733;</label>
                                        <input type="radio" id="3-stars-salary" name="gsalary" value="3" />
                                        <label for="3-stars-salary" class="star">&#9733;</label>
                                        <input type="radio" id="2-stars-salary" name="gsalary" value="2" />
                                        <label for="2-stars-salary" class="star">&#9733;</label>
                                        <input type="radio" id="1-star-salary" name="gsalary" value="1" />
                                        <label for="1-star-salary" class="star">&#9733;</label>
                                    </div>

                                </div>

                                <div class="rating_wp">

                                    <div class="tit">사내 문화</div>
                                    <div class="star-rating" id="culute">
                                        <input type="radio" id="5-stars-culute" name="gculture" value="5" />
                                        <label for="5-stars-culute" class="star">&#9733;</label>
                                        <input type="radio" id="4-stars-culute" name="gculture" value="4" />
                                        <label for="4-stars-culute" class="star">&#9733;</label>
                                        <input type="radio" id="3-stars-culute" name="gculture" value="3" />
                                        <label for="3-stars-culute" class="star">&#9733;</label>
                                        <input type="radio" id="2-stars-culute" name="gculture" value="2" />
                                        <label for="2-stars-culute" class="star">&#9733;</label>
                                        <input type="radio" id="1-star-culute" name="gculture" value="1" />
                                        <label for="1-star-culute" class="star">&#9733;</label>
                                    </div>

                                </div>

                                <div class="rating_wp">

                                    <div class="tit">경영진</div>
                                    <div class="star-rating" id="management">
                                        <input type="radio" id="5-stars-management" name="gmanagement" value="5" />
                                        <label for="5-stars-management" class="star">&#9733;</label>
                                        <input type="radio" id="4-stars-management" name="gmanagement" value="4" />
                                        <label for="4-stars-management" class="star">&#9733;</label>
                                        <input type="radio" id="3-stars-management" name="gmanagement" value="3" />
                                        <label for="3-stars-management" class="star">&#9733;</label>
                                        <input type="radio" id="2-stars-management" name="gmanagement" value="2" />
                                        <label for="2-stars-management" class="star">&#9733;</label>
                                        <input type="radio" id="1-star-management" name="gmanagement" value="1" />
                                        <label for="1-star-management" class="star">&#9733;</label>
                                    </div>

                                </div>




                            </div>








                        </div> <!--회사평가-->

                        <div class="review_wp"> <!--리뷰작성-->

                            <h2 class="rvtit">리뷰 작성하기</h2>
                            <div class="detail">

                                <div id="summary" class="area summary">

                                    <h3 class="opt_tit">한줄평</h3>

                                    <div class="form_wrap">

                                        <div class="fieldset">

                                            <input type="text" cols="50" rows="1" placeholder="예 : 워라밸이 보장되는 회사" name="eoneline" maxlength="122">

                                        </div>

                                    </div>

                                </div>

                                <div id="pros" class="area pros">

                                    <h3 class="opt_tit">장점</h3>

                                    <div class="form_wrap">

                                        <div class="fieldset">

                                            <textarea cols="10" rows="4" type="text" th:placeholder="${data}+'에서 근무하면서 가장 좋았던 점은 무엇인가요?'" name="epros"></textarea> <br>

                                        </div>

                                    </div>

                                </div>

                                <div id="cons" class="area cons">

                                    <h3 class="opt_tit">단점</h3>

                                    <div class="form_wrap">

                                        <div class="fieldset">

                                            <textarea type="text" th:placeholder="${data}+'에서 근무하면서 가장 힘들었던 점은 무엇인가요?'" name="econs"></textarea> <br>

                                        </div>

                                    </div>

                                </div>

                                <div id="reason_resign" class="area resign" style="">

                                    <h3 class="opt_tit">이직사유</h3>

                                    <div class="form_wrap">

                                        <div class="fieldset">

                                            <input type="text" th:placeholder="${data}+'에서 이직을 결심하게 된 계기는 무엇인가요?'" name="echange"> <br>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div> <!--리뷰작성-->

                        <div class="review_wp"> <!--작성자정보-->

                            <h2 class="rvtit">작성자 정보</h2>

                            <div class="detail">

                                <div class="area">

                                    <h3 class="opt_tit">인증 상태</h3>

                                    <div class="form_wrap">

                                        <div class="fieldset verified">
                                            <input type="text" th:value="${data}+'&nbsp;전직원'" name="ewriter"> <br>
                                        </div>

                                    </div>

                                </div>

                                <div class="dates">
                                    <div class="area start">
                                        <h3 class="opt_tit">근무 시작일</h3>
                                        <div class="form_wrap">
                                            <div class="fieldset">

                                                <select name="estartdate">
                                                    <option>선택하세요</option>
                                                    <option th:each="num : ${#numbers.sequence(2022,1973)}" th:text="${num}" th:value="${num}"></option>
                                                </select>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="area end">
                                        <h3 class="opt_tit">근무 종료일</h3>
                                        <div class="form_wrap">

                                            <div class="fieldset">

                                                <select name="eenddate">
                                                    <option>선택하세요</option>
                                                    <option th:each="num : ${#numbers.sequence(2022,1973)}" th:text="${num}" th:value="${num}"></option>  <!-- 근무 시작일 선택되면 활성화 (JS)예정 -->
                                                </select>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="area">

                                    <h3 class="opt_tit">직군</h3>
                                    <div class="form_wrap">

                                        <div class="fieldset">

                                            <select name="eoccupational_group">
                                                <option value="">선택하세요</option>
                                                <option value="IT 기획·매니지먼트 전문가">IT 기획·매니지먼트 전문가</option>
                                                <option value="IT 디자이너">IT 디자이너</option>
                                                <option value="IT 엔지니어">IT 엔지니어</option>
                                                <option value="간호사">간호사</option>
                                                <option value="건설 엔지니어">건설 엔지니어</option>
                                                <option value="건축·공간 디자이너">건축·공간 디자이너</option>
                                                <option value="경영전략·사업기획·분석전문가">경영전략·사업기획·분석전문가</option>
                                                <option value="경영지원·관리 전문가">경영지원·관리 전문가</option>
                                                <option value="고객상담 전문가">고객상담 전문가</option>
                                                <option value="고객서비스 전문가">고객서비스 전문가</option>
                                                <option value="구매·물류·SCM 전문가">구매·물류·SCM 전문가</option>
                                                <option value="금융상담·관리 전문가">금융상담·관리 전문가</option>
                                                <option value="대학교 교직원">대학교 교직원</option>
                                                <option value="마케팅·홍보 전문가">마케팅·홍보 전문가</option>
                                                <option value="법무·지적재산권 전문가">법무·지적재산권 전문가</option>
                                                <option value="상품기획·MD·디자이너">상품기획·MD·디자이너</option>
                                                <option value="생산엔지니어·생산관리">생산엔지니어·생산관리</option>
                                                <option value="언론인">언론인</option>
                                                <option value="연구개발(R&D)">연구개발(R&D)</option>
                                                <option value="영업 전문가">영업 전문가</option>
                                                <option value="정보보안·IT보안">정보보안·IT보안</option>
                                                <option value="">고객상담 전문가</option>
                                                <option value="조선·해양 엔지니어">조선·해양 엔지니어</option>
                                                <option value="품질관리·보증 전문가">품질관리·보증 전문가</option>
                                                <option value="하드웨어 엔지니어">하드웨어 엔지니어</option>
                                                <option value="항공운항·서비스 전문가">항공운항·서비스 전문가</option>
                                                <option value="해외영업·사업개발·마케팅">해외영업·사업개발·마케팅</option>
                                                <option value="환경·안전·보건 전문가">환경·안전·보건 전문가</option>
                                                <option value="회계·세무·재무 전문가">회계·세무·재무 전문가</option>
                                            </select>

                                        </div>

                                    </div>

                                </div>

                                <div class="area">

                                    <h3 class="opt_tit">근무지역</h3>

                                    <div class="form_wrap">

                                        <div class="fieldset">

                                            <input type="text" placeholder="예 : 서울" name="eregion">

                                        </div>


                                    </div>

                                </div>

                            </div>


                        </div> <!--작성자정보-->

                        <div class="review_wp review_last"> <!--완료-->

                            <button type="button" id="evaluation" class="btn_finish"> 완료 </button>

                        </div> <!--완료-->

                    </section>

                </div>

            </div>


        </div>


    </div>

</form>

<br><br><br><br>




<div th:replace="footer.html::footer"></div>
<script src="/js/review/write.js"></script>
</body>
</html>